.box {
  min-height:230px;
}

label {
  font-size: 150%;
  width: 100%;
  padding-top: 7px
}

#variable, #variable2, #operator {
  min-width: 250px;
  min-height: 40px;
}

.button-box {
  border: 1px solid #c2185b;
  border-radius: 5px;
  min-height: 200px;
}

.is-light {
  font-size: 200%;
}

.equation-text {
  font-family: monospace;
  font-size: 15px;
}

.new-relation {
  font-family: monospace;
  font-size: 15px;
  width : 300px;
}

.clear {
  margin-right: 50px;
}

.opt{
  font-size: 15px;
}