.control-panel {
  border: solid 2px #c2185b;
  border-radius: 5px;
}

label {
  font-size: 150%;
  width: 100%;
  padding-top: 7px
}

.dropdown-item {
  font-size: 110%;
}

.dropdown {
  width: 100%;
}

.sel {
  width: 160%;
  font-size: 110%;

}