<div class="main">
  <div class="main-2 container is-widescreen ">

    <nav mat-tab-nav-bar [tabPanel]="tabPanel" [backgroundColor]="background" mat-stretch-tabs="false" mat-align-tabs="start" >
      <a mat-tab-link *ngFor="let link of pageNames" (click)="activeLink = link.link" [routerLink]="link.link"
        [active]="activeLink == link.link"> {{link.name}}</a>
    </nav>
    <span class="client-status" ><b>Client Status: </b><span >🟢</span>Online</span>
    <mat-tab-nav-panel #tabPanel class="box"><router-outlet></router-outlet></mat-tab-nav-panel>
    
  </div>
</div>