
<div class="box columns p-0">
  <div class="column is-centered">
    <button class="button is-info" [ngClass]="isFetchLoading ? 'is-loading' : null" (click)="getLatestData()">Fetch Data</button>
  </div>
  <div class="column">
    <button class="button is-info" [ngClass]="isExportLoading ? 'is-loading' : null" (click)="getExportData()">Export Data</button>
  </div>
  <div class="column">
    <button class="button is-info" [ngClass]="isReportLoading ? 'is-loading' : null" (click)="getReport()">Generate Report</button>
  </div>
</div>

<div class="mat-elevation-z8 table " *ngIf="showRawTable">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef class="th">
        {{column.header | titlecase}}
      </th>
      <td mat-cell *matCellDef="let row" class="th">
        {{column.cell(row)}}
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="th"></tr>
  </table>

  <!-- <mat-paginator *ngIf="showPaginator" class="paginator" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator> -->
</div>
